* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(255, 203, 221);
}

/*Navigation*/
a:link {
    color: rgb(0, 109, 119);
    text-decoration: none;
}


a:visited {
    color: rgb(0, 109, 119);
}

a:hover {
    color: turquoise;
}

.navbar-brand {
    font-family: 'Berkshire Swash', cursive;
    color: rgb(255, 203, 221);
    padding-left: 15px;
}

.nav-item {
    color: darkorchid;
}

.nav-link {
    color: darkorchid;
}

.navbar {
    font-family: 'Berkshire Swash', cursive;
    color: rgb(87, 93, 144);
}

.dropdown-item {
    color: rgb(0, 109, 119);
}

/*Home Page*/
h1 {
    text-align: center;
    color: white;
    font-weight: bold;
    text-shadow: 4px 4px rgb(0, 109, 119);
    font-size: 4em;
    padding-top: 50px;
    font-family: 'Berkshire Swash', cursive;
}

.name {
    font-size: 6em;
    text-shadow: 5px 5px rgb(0, 109, 119);
    color: white;
    text-align: center;
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 50px;
}

.intro {
    text-align: center;
    color: rgb(0, 109, 119);
    font-family: 'Bad Script', cursive;
    font-size: 1.5em;
    font-weight: bold;
    padding-left: 70px;
    padding-right: 70px;
    border: 5px solid rgb(0, 109, 119);
    border-radius: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 80%;
    margin: auto;
}


.get-to-know {
    text-align: center;
    font-family: 'Berkshire Swash', cursive;
    color: rgb(0, 109, 119);
    padding-top: 75px;
}

/*Form*/
.row {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 75px;
    padding-right: 75px;
    }

.form-label {
    color: rgb(0, 109, 119);
}

  
/*Stuff I Like Page*/ 
.moreabout {
    text-shadow: 4px 4px rgb(0, 109, 119);
}

.container-fluid {
    display:grid;
    border: 5px 5px rgb(0, 109, 119);
}

.col-sm-3 {
    padding-left: 2%;
    padding-right: 2%;
    color: rgb(0, 109, 119);
}

.col-sm-4 {
    padding-left: 4%;
    padding-right: 4%;
    color: rgb(0, 109, 119);
}

.like {
    border: 8px solid rgb(0, 109, 119);
    border-radius: 15px;
}

/*Goals Page*/

.goals-container {
    border: 5px solid rgb(0, 109, 119);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}


.goals-title {
    text-shadow: 6px 6px rgb(0, 109, 119);
    padding-bottom: 50px;
}

.goals-list {
    text-align: center;
    color: rgb(0, 109, 119);
    font-family: 'Bad Script', cursive;
    font-weight: bold;
    padding-top: 50px;

}

.goals {
    text-align: center;
    color: rgb(0, 109, 119);
    font-family: 'Bad Script', cursive;
    font-size: 2em;
    font-weight: bold;
    padding-top: 25px;
    padding-bottom: 50px;
    }

    li {
        color: rgb(0, 109, 119);
        text-shadow: 3px 3px rgb(255, 203, 221);
    }


p {
    color: rgb(0, 109, 119);
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Berkshire Swash', cursive;
    text-align: center;
}

.intro-goals {
    font-family: 'bad script', cursive;
    padding-left: 50px;
    padding-right: 50px;
    border: 5px solid rgb(0, 109, 119);
    border-radius: 15px;
    font-size: 1.5em;
    color: rgb(0, 109, 119);
    padding: 15px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.grid-container {
    display: grid;
}

.footer, .email {
    color: rgb(0, 109, 119);
    padding-top: 25px;
}

/*Thank you page*/
.thank-you-body {
    background-image: url(images/smiley-face.jpg);
    background-size: cover;
    background-attachment:initial;
    color: black;
}

.thankyou {
    text-align: center;
    color: darkred;
    font-size: 5em; 
    font-style: italic;
    padding-top: 150px;
    padding-bottom: 100px;
}

  .thank-you-title {
    font-family: 'Berkshire Swash', cursive;
    color:whitesmoke;
    text-shadow: 3px 3px black;
    font-size: 5em;
    text-align: center;
    padding-top: 50px;
  }
  /*end of thank you page*/

